footer {
    max-width: 1280px;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font: 700 1.25rem/1.3  'syne', sans-serif;

        & img {
            width: 2rem;
            transition: rotate 350ms;

            &:hover{
                rotate: 90deg;
            }
        }
    }

    & nav {
        display: flex;
        gap: 2rem; 

        & a {
            position: relative;
            width: fit-content;

            &:hover::after{
                transform: scaleX(1);
            }
        }
        /* criando um efeito de sublinhado */
        & a::after {
            content: ""; 
            width: 100%;
            height: 2px;
            background-color: var(--snitap-sky-mid);

            position: absolute;
            bottom: 0;
            left: 0;

            transform: scaleX(0);
            transition: transform 200ms linear;
        }
    }

    &  .social-links {
        display: flex; 
        align-items: center;

        & a {
            width: 2rem;
            height: 2rem;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5rem;

            position: relative;

            &:hover::before{
                scale: 1;
            }

            &::before{
                content:"";
                width: inherit;
                height: inherit;
                border-radius: inherit;

                background: var(--snitap-sun);
                position: absolute;
                z-index: -1;

                scale: 0;
                transition: scale 200ms;
            }
        }
    }
}